<%= simple_form_for(@task) do |f| %>
  <div id="form-organization">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
    <div class="form-group">
      <%= f.input :type %>
    </div>
        <div class="form-group">
      <%= f.input :date %>
    </div>
    <div class="text-center">
      <%= link_to "#{t :back}", organizations_path, class: 'btn btn-success' %>
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
