<%= simple_form_for(@task.becomes(Task)) do |f| %>
  <div id="form-organization">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
    <div class="form-group">
      <%= f.input :date %>
    </div>
    <div class="form-group">
      <%= f.input :description %>
    </div>
    <div class="text-center">
      <%= link_to 'Back', tasks_path, class: 'btn btn-success' %>
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
