<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Tasks</h1>
  </div>

  <% if @tasks.present? %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Task type</th>
            <th>Task period</th>
            <th>Date</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <% if task.uncompleted? %>
            <tr>
              <td class="col-md-2"><%= "#{task.type.demodulize}" %></td>
              <td class="col-md-3"><%= "c #{task.period.first.to_formatted_s(:rfc822)} по #{task.period.last.to_formatted_s(:rfc822)}" %></td>
              <td class="col-md-1"><%= "#{task.date}" %></td>
              <td class="col-md-3"><%= "#{task.description}" %></td>
              <td class="col-md-1"><%= button_to 'V', "tasks/#{task.id}", method: :put, params: {task: {status: 'completed'}}, class: "btn btn-info"%></td>
              <td class="col-md-1"><%= button_to 'X', "tasks/#{task.id}", method: :put, params: {task: {status: 'failed'}}, class: "btn btn-info"%></td>
              <td class="col-md-1"><%= link_to 'Edit', "/tasks/#{task.id}/edit", class: "btn btn-info" %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

    <h1 class="text-center">Календарь событий</h1>
    <%= month_calendar do |date| %>
    <%= date %>
      <% @tasks.each do |task| %>
        <% if date == task.period.last %>
          <div style="padding-bottom: 2px">
            <% if task.type == "Tasks::Declaration" %>
              <div class="p-1 bg-primary text-white">
                <small><%= task.description %></small>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <div class="col-md-12 text-center">First you need to add an organization</div>
  <% end %>
</div>