<table class="table">
  <tr>
    <td><%= t :receipts_BYN%> </td>
    <td><%= t :exchange_difference%> </td>
    <td><%= t :gross_revenue%></td>
    <td><%= t :amount_of_tax> </td>
  </tr>

  <tr>
    <td><%= @data_statement.receipts %> </td>
    <td><%= @data_statement.exchange_difference %></td>
    <td><%= @data_statement.gross_revenue %></td>
    <td><%= @data_statement.sum_tax %> </td>
  </tr>
</table>
