<%= javascript_include_tag 'popup_message' %>

<div class="container">
  <div class="col-md-12">
    <h1 class="text-center"><%= t :immediate_taxes %></h1>
  </div>

  <% if @taxes.present? %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th><%= t :payment_period%></th>
            <th><%= t :declaration_period%></th>
            <th><%= t :name_of_tax%></th>
            <th><%= t :rate%></th>
            <th><%= t :name_of_organization%></th>
            <th><%= t :receipts%></th>
          </tr>
        </thead>

    <tbody>
      <% @taxes.each do |tax| %>
        <% if tax.uncompleted? %>
          <tr>
            <td class="col-md-3"><%= "c #{tax.payment_period.first.to_formatted_s(:rfc822)} по #{tax.payment_period.last.to_formatted_s(:rfc822)}" %></td>
            <td class="col-md-3"><%= "c #{tax.declaration_period.first.to_formatted_s(:rfc822)} по #{tax.declaration_period.last.to_formatted_s(:rfc822)}" %></td>
            <td class="col-md-3"><%= tax.tax_name %>
              <%= render 'hints/hint_form', hint_owner: identify_tax(tax.tax_name) %>
            </td>
            <td class="col-md-3"><%= tax.rate %></td>
            <td class="col-md-3"><%= tax.organization_name %></td>
            <td class="col-md-3">
              <% if tax.sum_tax.blank? %>
                  <%= link_to "#{t :calculate}", extract_new_path(tax.activity.organization_id), class: 'btn btn-sm btn-info calculate' %>
              <% else %>
                  <%= tax.sum_tax %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= month_calendar do |date| %>
    <%= date %>
      <% @taxes.each do |tax| %>
        <% if date == tax.payment_period.last %>
        <div style="padding-bottom: 2px">
          <div class="p-1 bg-primary text-white">
            <%= tax.organization_name %>
          </div>
        </div>
        <% end %>
        <% if date == tax.declaration_period.last %>
        <div style="padding-bottom: 2px">
          <div class="p-1 bg-warning text-white">
            <%= tax.organization_name %>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-md-12 text-center"><%= t :absence_of_taxes%></div>
  <% end %>
</div>
