<%= javascript_include_tag 'popup_message' %>

<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Immediate Taxes</h1>
  </div>

  <% if @taxes.present? %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Payment period</th>
            <th>Declaration period</th>
            <th>Name</th>
            <th>Rate</th>
            <th>Organization</th>
            <th>Receipts</th>
          </tr>
        </thead>

    <tbody>
      <% @taxes.each do |tax| %>
        <% if tax.uncompleted? %>
          <tr>
            <td class="col-md-3"><%= "c #{tax.payment_period.first.to_formatted_s(:rfc822)} по #{tax.payment_period.last.to_formatted_s(:rfc822)}" %></td>
            <td class="col-md-3"><%= "c #{tax.declaration_period.first.to_formatted_s(:rfc822)} по #{tax.declaration_period.last.to_formatted_s(:rfc822)}" %></td>
            <td class="col-md-3"><%= tax.tax_name %>
              <%= render 'hints/hint_form', hint_owner: identify_tax(tax.tax_name) %>
            </td>
            <td class="col-md-3"><%= tax.rate %></td>
            <td class="col-md-3"><%= tax.organization_name %></td>
            <td class="col-md-3">
              <% if tax.sum_tax.blank? %>
                <%= link_to 'Рассчитать', extract_new_path(tax.activity.organization_id), class: 'btn btn-sm btn-info calculate' %>
              <% else %>
                  <%= tax.sum_tax %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div class="col-md-12 text-center">First you need to add an organization</div>
  <% end %>
</div>
