<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @tax.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tax.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @tax.rate %>
</p>

<%= link_to 'Back', taxes_path %>
