<%= simple_form_for(@organization) do |f| %>
  <div id="form-organization">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
    <div class="form-group">
      <%= f.input :name %>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label " for="organization_form_id">Organzation Form</label>
      </div>
      <%= f.collection_select :organization_form_id, OrganizationForm.all, :id, :name %>
    </div>
    <%= f.fields_for @activity do |a_f| %>
        <div class="form-group">
          <div>
            <label class="control-label " for="organization_form_id">Activity Type</label>
          </div>
          <%= a_f.collection_select :activity_type_id, ActivityType.all, :id, :name %>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label " for="organization_form_id">Taxation Form</label>
          </div>
          <div>
            <%= a_f.collection_select :taxation_form_id, TaxationForm.all, :id, :name %>
          </div>
        </div>
    <% end %>
    <div class="text-center">
      <%= link_to 'Back', organizations_path, class: "btn btn-success" %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>
