<%= simple_form_for(@organization) do |f| %>
  <div id="form-organization">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :name %>
    </div>
    <div class="form-group col-md-6">
      <div>
        <label class="control-label " for="organization_form_id"><%= t :organization_form%></label>
      </div>
      <%= f.collection_select :organization_form_id, OrganizationForm.all, :id, :name %>
    </div>

    <%= f.nested_fields_for :activities, wrapper_tag: :div do |a_f| %>
      <div class="container">
        <div class="row">
          <div class="form-group col-md-5">
            <div>
              <label class="control-label " for="organization_form_id">Activity Type</label>
            </div>
            <%= a_f.collection_select :activity_type_id, ActivityType.all, :id, :name %>
          </div>
          <div class="form-group col-md-3">
            <div>
              <label class="control-label " for="organization_form_id">Taxation Form</label>
            </div>
            <div>
              <%= a_f.collection_select :taxation_form_id, TaxationForm.all, :id, :name %>
            </div>
          </div>
          <div class="col-md-4 form-group" >
            <%= a_f.remove_nested_fields_link 'Remove this activity', class: 'btn btn-danger bottom_position' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group col-md-6">
      <%= f.add_nested_fields_link :activities, 'Add activity', class: 'btn btn-primary'%>
    </div>
    <div class="text-center">
      <%= link_to "#{t :back}", organizations_path, class: 'btn btn-success' %>
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
