<%= javascript_include_tag 'popup_message' %>

<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Organizations</h1>
  </div>
  <div class="col-md-12 text-center" id="div-new-organization">
    <%= link_to 'New Organization', new_organization_path, class:'btn btn-primary', id: 'btn-new-organization' %>
    <%= link_to 'Assistant to create organization', new_survey_path, class:'btn btn-primary' %>
  </div>
  <% if @organizations.present? %>
      <% @organizations.each do |organization| %>
    <div style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); border-radius: 20px; margin:20px 0; padding-bottom: 3px">
      <div class="text-left" id="organizations-table">
        <h3><%= link_to "#{organization.name}", organization, title: 'Нажми для редактирования этой оганизации' %></h3>
        <h6><%= "#{organization.organization_form.name}"%>
          <span style="font-size: 1em; color: Darkgray" data-tooltip='<%= check_org_form(organization.organization_form.name) %>'>
            <i class="far fa-question-circle fa-spin fa-xs"></i>
          </span>
        </h6>
      </div>
      <div class="text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Вид деятельности</th>
              <th>Форма налогообложения</th>
            </tr>
          </thead>
        <% organization.activities.each do |activity|%>
          <tbody>
            <tr>
              <th scope="col"><%= activity.activity_type.name %></th>
              <td scope="col"><%= activity.taxation_form.name %>
                <span style="font-size: 1em; color: Darkgray" data-tooltip='<%= check_tax_form(activity.taxation_form.name) %>'>
                  <i class="far fa-question-circle fa-spin fa-xs"></i>
                </span>
              </td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>
      <% end %>
  <% else %>
    <div class="col-md-12 text-center">Here you will see the organizations you added</div>
  <% end %>
</div>
