<%= javascript_include_tag 'popup_message' %>

<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Organizations</h1>
  </div>
  <div class="col-md-12 text-center" id="div-new-organization">
    <%= link_to 'New Organization', new_organization_path, class:'btn btn-primary', id: 'btn-new-organization' %>
    <%= link_to 'Assistant to create organization', new_survey_path, class:'btn btn-primary' %>
  </div>
  <% if @organizations.present? %>
      <% @organizations.each do |organization| %>
    <div class="organizations_table_form">
      <div class="text-left" id="organizations-table">
        <h3><%= link_to "#{organization.name}", organization, title: 'Нажми для редактирования этой оганизации' %></h3>
        <h6><%= "#{organization.organization_form.name}"%>
          <%= render 'hints/hint_form', hint_owner: organization.organization_form %>
        </h6>
      </div>
      <div class="text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Вид деятельности</th>
              <th>Форма налогообложения</th>
            </tr>
          </thead>
        <% organization.activities.each do |activity|%>
          <tbody>
            <tr>
              <th scope="col"><%= activity.activity_type.name %></th>
              <td scope="col"><%= activity.taxation_form.name %>
                <%= render 'hints/hint_form', hint_owner: activity.taxation_form %>
              </td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>
      <% end %>
  <% else %>
    <div class="col-md-12 text-center">Here you will see the organizations you added</div>
  <% end %>
</div>
