<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<% if @organizations.present? %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Organization Form</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @organizations.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td><%= organization.organization_form.name %></td>
            <td><%= link_to 'Show', organization %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>Here you will see the organizations you added</p>
<% end %>

<br>

<%= link_to 'New Organization', new_organization_path %>
