<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Organizations</h1>
  </div>
  <% if @organizations.present? %>
      <% @organizations.each do |organization| %>
          <div class="col-md-12" id="organization-show-main">
            <div class="row form-group" id="organization-show-name">
              <h3><%= link_to "#{organization.organization_form.name} #{organization.name}", organization %></h3>
            </div>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                  <th>Вид деятельности</th>
                  <th>Форма налогообложения</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% organization.activities.each do |activity|%>
                <tr>
                  <th scope="col"><%= activity.activity_type.name %></th>
                  <td scope="col"><%= activity.taxation_form.name %></td>
                  <td class="col-md-1"><%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-sm btn-info' %></th>
                  <td class="col-md-1"><%= link_to 'Destroy', activity, method: :delete,
                              data: { confirm: 'Are you sure?' },
                              class: 'btn btn-sm btn-danger' %></th>
              </tr>
              </tbody>
            </table>
            <% end %>
          </div>
      <% end %>
  <% else %>
    <div class="col-md-12 text-center">Here you will see the organizations you added</div>
  <% end %>
  <div class="col-md-12 text-center" id="div-new-organization">
    <%= link_to 'New Organization', new_organization_path, class:'btn btn-primary', id: 'btn-new-organization' %>
  </div>
</div>
