<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>
<p>
  <strong>OrganizationForm:</strong>
  <%= @organization.organization_form.name %>
</p>
<p>
  <strong>TaxationForm:</strong>
  <%= @organization.taxation_form.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
