<div class="container">
  <div class="row text-center">
    <div class="col-md-12" id="organization-show-main">
      <div class="form-group" id="organization-show-name">
        <h3><%= "#{@organization.organization_form.name} #{@organization.name}" %></h3>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Вид деятельности</th>
            <th>Форма налогообложения</th>
          </tr>
        </thead>
        <tbody>
          <% @organization.activities.each do |activity|%>
            <tr>
              <th scope="col"><%= activity.activity_type.name %></th>
              <td scope="col"><%= activity.taxation_form.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">&nbsp;</div>
  <div class="col-md-12 form-group text-center">
    <%= link_to 'Edit', edit_organization_path(@organization), class: "btn btn-info", id: "edit_organization" %>
    <%= link_to 'Destroy', @organization, method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger' %>
    <%= link_to 'Back', organizations_path, class: "btn btn-success" %>
 </div>
</div>
