<!DOCTYPE html>
<html>
  <head>
    <title>DashaTaxpayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
           <%= render 'layouts/menu/user_form' %>
          </ul>
          <ul class="nav navbar-nav">
            <%= render 'layouts/menu/login_form' %>
         </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
          <p class="alert alert-success alert-dismissible show"><%= notice %></p>
      <% end%>
      <% if alert %>
          <p class="alert alert-warning alert-dismissible show"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>