<!DOCTYPE html>
<html>
  <head>
    <title>DashaTaxpayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <div id="tooltip"></div>
  </head>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav mr-auto">
           <%= render 'layouts/menu/user_form' %>
          </ul>

          <form class="form-inline">
            <ul class="nav navbar-nav">
              <%= render 'layouts/menu/login_form' %>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <div class="container" id = "alert-messages">
      <% if notice %>
          <p class="alert alert-success alert-dismissible show"><%= notice %></p>
      <% end%>
      <% if alert %>
          <p class="alert alert-warning alert-dismissible show"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
