<!DOCTYPE html>
<html>
  <head>
    <title>DashaTaxpayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
           <%= render 'layouts/menu/user_form' %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= render 'layouts/menu/login_form' %>
         </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
          <p class="alert alert-success alert-dismissible show"><%= notice %></p>
      <% end%>
      <% if alert %>
          <p class="alert alert-warning alert-dismissible show"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>